<div id="regiter_">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="text-center" id="rgtbody">
          <p>You need to sign in or sign up before continuing.</p>
            </div>
              </div>
                <div class="modal-body">
                  <div class="text-center">
                  <button id="rgtss" class="btn btn-success" data-toggle="modal" data-target="#regiter_">
                Sign up
              </button>
            </div>
          </div>
        <div class="modal-footer">
      </div>           
    </div>  
  </div> 
</div>  
           
