<div id="regiter_">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="text-center" id="rgtbody">
          <p>You need to sign in or sign up before continuing.</p>
            </div>
              </div>
                <div class="modal-body">
                  <div class="text-center">             
                  <button id="rgtss" class="btn btn-success" data-toggle="modal" data-target="#regiter_">
                Click to Sign up now!
              </button>
              <%= link_to "Login now!", new_user_session_path, :id => "homebt", :class => "btn btn-link" %> 
            </div>
          </div>
        <div class="modal-footer">
      </div>           
    </div>  
  </div> 
</div>  
           
