<div id="content">
	<div id="header_logo">
	  <div class="header_logo width_common">          
       <%= image_tag("logo.png")%>                 
        <div class="banner_728x90 right">
          <div class="box_category width_common hidden320">
          	<div id="TOP_BANNER">
          </div>
        </div>
      </div>
	  </div>
	</div>
</div>