<div id="content">
	<div id="header_logo">
	   <div class="header_logo width_common">
          
                        <img src="http://images.vietnamworks.com/img/jobseekers/logo.png" alt="Vietnamworks - Job Search, career and employment in Vietnam" title="Vietnamworks - Job Search, career and employment in Vietnam" class="vnw-logo img-responsive">
                 
        <div class="banner_728x90 right">
          <div class="box_category width_common hidden320">
          		<div id="TOP_BANNER">
              </div>
          </div>
        </div>
	  </div>
	</div>
</div>