<div id="loginmodal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="text-center" id="loginbody">
          <p>You need to sign in or sign up before continuing.</p>
            </div>
              </div>
                <div class="modal-body">
                  <div class="text-center">
                    <button id="loginss" class="btn btn-success" data-toggle="modal" data-target="#loginmodal">
                      Login
                    </button>                    
                  <%= link_to "Go Website!", root_path, :id => "homebt", :class => "btn btn-link" %>           
              </div>
            </div>
          <div class="modal-footer">
        </div>  
      </div>
    </div>
  </div>
</div>



