<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3><%= @resume.letter %></h3>
    <%= attachments[@resume.attchment.original_filename].url %>
  </body>
</html>