// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#content {
	margin: 0 150px 0 150px;
}

.tabcontrol > .content > .body{
	width: 100%;
	height: 100%;
	margin: 0;
}

.tb-tb{
	background-color: #f1f1f1;
	margin-top: 5px;
	border-collapse: collapse;
	border: 1px solid #dddddd;
}
.wizard-p-0{
  width: 100%;
}
.tb-tb td{
	text-align: center;
}
span.mytext{
	color:#FF0000;
	text-decoration: line-through;
}
#imgtab{
	position: fixed; /*auto*/
	border-radius: 5px;
	height: 80px;
	width: 80px;
	float: left;
	margin-top: 300px;
	text-align: center;
}

#nav-bar{
	float: left;
	height: 80px;
	width: 79%;
	display: block;
	list-style: none;
	position: fixed;
	
}
#nav-bar li{
	background-color: black;
	text-align: left;
	padding: 5px;
}

#header_logo {
  font-weight: bold;
  padding: 30px;
  border-radius: 5px;
  border: 1px solid #309;
  margin-top: 5px;
}
#header {
  background-color:#eee;
  margin: 0;
  border-bottom: 1px solid #ccc;
  padding: 5px;
  line-height: 30px;
  vertical-align: top;
}
#header li{
	color:#333;
	font: 400 12px arial;
	list-style-type: none;
	display: inline-block;
	height: 100%;
	padding: 0 15px;

}

.block_search_web{
	margin-top: 5px;
	list-style-type: none;
}

.tagnav{
	margin-left: 160px;
	margin-right: 160px;
}
.phone{
	margin-bottom: -3px;
}

.loginform{
	float:right;
	height: 100%;
}
.loginform a{
	text-decoration: none;
	color: #000;
	font: 400 12px arial;
}

.icon_seach_web {
  float: left;
  height: 20px;
  width: 20px;
  border-top: 1px solid silver;
  border-right: 1px solid silver;
  border-bottom: 1px solid silver;
  cursor: pointer;
  font-size: 0;
  line-height: 0;
}


#footer {
  background-color:#eee;
  padding: 1px;
}
#footer p{
	font-size: 12px;
	color:black;
  clear:both;
  text-align:center;
}
section{
	background:#f5f5f5;
	border-radius: 5px;
	display: block;
	margin-top: 15px;
	padding: 10px;
}

.tabconten{
		padding-bottom: 5px;
		font-size: 12px;
}
.tabconten div h2{
		clear:both;
}

.ttable{
		background-color: #fff;
}

.subright{
	float: right;
}
.subright .btn{
}

.form-group{
	padding: 15px;
	height: 100%;
}
#search-form{
	border: 1px solid #dddddd;
	border-radius: 5px;
	background-color: #333;
	padding: 5px;
}
.block_search{
	padding-top: 5px;
}
#loginmodal .form-group{
	padding: 0;
	margin-bottom: 0;
}
#loginmodal .modal-header{
	padding: 0;
	border-bottom: 0;
}
#loginmodal .modal-footer{
	padding: 0;
	border-top: 0;
}
#loginmodal .modal-footer .btn{
	margin-bottom: 15px;
}
#loginmodal .modal-content{
	width: 500px;
}
#loginmodal .modal-header button{
	margin-right: 15px;
}

#regiter_ .modal-content{
	width: 500px;
}

#regiter_ .modal-header button{
	margin-right: 15px;
}

#regiter_ .modal-header{
	padding: 0;
	border-bottom: 0;
}
#regiter_ .modal-footer{
	border-top: 0;
}

#regiter_ .field_with_errors{
	padding: 0;
	background-color: #fff;
	display: block;
}

#regiter_ #error_explanation{
	background-color: #fff;
	border: none;
}

#regiter_ #error_explanation h2{
	background-color: #fff;
}

.btn_logout{
	
}
.btn_logout a:visited{
	color: black;
}
.btn_logout a:hover{
	background-color: #eee;
	color: #428bca;
	text-decoration: underline; 
}
#content .page-header{
	margin: 0;
}
#content .table.table-striped{
	border: 1px solid #dddddd;
}
.form-horizontal textarea.form-control{
	height: 110px;
	resize: vertical;
}
#homebt{
	display: none;
}
#homebt a:hover{
  background-color: #428bca;
  text-decoration: none;
  color: #666;
}
#loginss a{
}
#loginss a:hover{
	background-color: #5cb85c;
  text-decoration: none;
  color: #666;
  cursor: inherit;
}
#dlhrz dt{
	text-align: left;
}
#dlhrz .mdname{
	margin-left: 40px;
}

body #dlhrz{
	font-size: 14px;
}
